[tool.poetry]
name = "supervisor-react"
version = "0.3.0"
description = "A web interface for supervisor"
authors = ["Cyril Jouve <jv.cyril@gmail.com>"]
license = "GPL-3.0-only"
readme = "README.md"
repository = "https://github.com/jouve/supervisor-react"
include = ["supervisor_react/statics/**/*"]

[tool.poetry.scripts]
supervisor-react = "supervisor_react:main"

[tool.poetry.dependencies]
python = "^3.9"
aiofiles = "*"
httpx = "*"
starlette = "*"
uvicorn = "*"

[tool.poetry.dev-dependencies]
bandit = "*"
black = "*"
flake8-assertive = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
isort = "*"
mypy = "*"
pylint = "*"
supervisor = "*"
unify = "*"

[tool.black]
line-length = 120
skip-string-normalization = true

[tool.isort]
line_length = 120
profile = "black"

[tool.pylint.messages_control]
disable = [
    "missing-class-docstring",
    "missing-function-docstring",
    "missing-module-docstring",
]

[tool.pylint.format]
max-line-length = "120"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
