[tool.poetry]
name = "supervisor-react"
version = "0.1.7"
description = "A web interface for supervisor"
authors = ["Cyril Jouve <jv.cyril@gmail.com>"]
license = "GPL-3.0-only"
readme = "README.md"
repository = "https://github.com/jouve/supervisor-react"
include = ["supervisor_react/build/**/*"]

[tool.poetry.scripts]
supervisor-react = "supervisor_react:main"

[tool.poetry.dependencies]
python = ">=3.6"
httpx = "*"
starlette = "*"
uvicorn = "*"
aiofiles = "*"

[tool.poetry.dev-dependencies]
bandit = "*"
flake8-assertive = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
ipython = "*"
isort = "*"
mypy = "*"
pylint = "*"
supervisor = "*"
unify = "*"
yapf = "*"

[tool.isort]
line_length = 120

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
